{% extends 'Blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="form">
    <h3 class="join">Log in <h3><hr/>
    <form method = "POST">
        {% csrf_token %}
       <div class="crispy-form"> {{ form|crispy }} </div>
        <hr><div class="btn">
            <button class='submit' type="submit">Log In</button> <strong><small><a class="loguser" id = "loguser" href=' {% url "register" %}'>Create An Account</a></small></strong>
        </div>    
    </form>
   
</div>



{% endblock content %}