{% extends 'Blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="form">
    <h3 class="join"> Join Us Today!<h3><hr/>
    <form method = "POST">
        {% csrf_token %}
       <div class="crispy-form"> {{ form|crispy }} </div>
        <hr><div class="btn">
            <button class='submit' type="submit">Sign Up</button> <strong><small> Already a user? <a class="loguser" href="{% url 'login' %}">Login</a></small></strong>
        </div>    
    </form>
   
</div>



{% endblock content %}